/* Activity Color Palette: Will use the color palette chosen in the CSS lesson --------Coolors compliment l blush
#F7FFF7 - almost white---------- #FBEEF1 - lavender blush
#343434 - dark gray - almost black # Sea Green Crayola
#2F3061 - dark blue ----------- #106A5A Bottle Green
#FFE66D - yellow --------- #F70A35 Imperial Red
#A1C6D7 - light blue --------- #87E6D4 Middle Blue Green
*/

/* Global styles 
____________________________*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color:#D7EFEF;
    color: black;
    
}
main {
    width: 90%;
    padding-left: 20px;
    margin: 0 auto; 
}
nav {
    width: 100%;
}
#navMenu a{
    text-decoration-line: none;
    width: 130; 
}
#navMenu {
    list-style: none;  
    float: right;
}
#navMenu li{
    display: inline;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 185, 227, 0.2);
    margin-right: 10px;
    text-decoration-line: none;
    float: left;
}
#navMenu li .dropMenu {
    padding: 5px;
    border-radius: 3px;
    text-decoration-line: none;
    position: absolute;
    width: 130px;
    left: -999em;
    }
#navMenu li:hover .dropMenu {
    left: auto;
    color: purple;
    }
#navMenu li .dropMenu {
    
}
a:focus {
    
}
.button {
    display: block;
    width: 200px;
}
a.button {
    
    text-decoration-line: none;
    padding: 3px;
    background-color: #2F3061;
    color: #F7FFF7;
    border-radius: 4px;
}
section {
    padding: 20px;
}
header {
    background-image: url("../placeholderImages/annie-spratt-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
   }
header h1 {
    font-family: 'Courgette', cursive; 
    font-size: 48px;
    text-shadow: 2px 2px 6px gray;
    text-align: left;
    padding-left: 20px; 
    
}
header h2 { 
    padding-left: 20px;
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("/css/Courgette-Regular.ttf");
}
.divideLine {
    border-bottom: 2px dotted gray;
}
/* Profile styles 
____________________________*/
#subHead {
    text-align: left;
    margin-top: -30px;
    font-size: 110%;
}
#tosha {
    width: 200px;
    height: 300px;
    border-radius: 70%;
    padding: 4px;
    float: left;
   }
figcaption {
    text-align: center;
    float:inherit;
    font-size: smaller;
    font-style: italic;
   }


/* Work Experience styles 
____________________________*/
#projects {
    clear: both;
    background-color: seashell;
}
#tutorialVideo {
}
#summary {
    width: 50%;
}
/* Employment Section styles 
____________________________*/
#work {
    clear: both;
    background-color: rgba(0, 185, 227, 0.2);   
}

/* Education Section styles 
____________________________*/
#education {
    line-height: .5;
}
.mediaIcon {
    margin-right: 10px;
    text-decoration-line: none;
    background-color: rgba(0, 185, 227, 0.2);
    padding: 4px;
    border-radius: 3px;
    color: black;
}
/* Contact styles 
____________________________
.mediaIcon {
    width: 46px;
    height: 46px;
    margin-right: 20px;
    display: inline-block;
}*/