html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.site {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color:#fbf9f3;
    color: black;
}
    /* add the grid */
.site {
    display: grid;
    grid-template-columns: 
    grid-template-rows: 10em 30em 40em 10em;
    /*
    grid-template-areas: 
    "title nav nav"
    "banner banner banner"
    "card card card"
    "footer";
    */
}
.nav {
    grid-column: 3/4;
    grid-row: 1;
   }

#navMenu a{
    text-decoration-line: none;
   }
#navMenu {
    list-style: none;  
    
}
#navMenu li{
    display: inline;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
    text-decoration-line: none;
    float: left;
    font-size: .75em;
    
}
#navMenu li .dropMenu {
    padding: 5px;
    border-radius: 3px;
    text-decoration-line: none;
    position: absolute;
    width: 130px;
    left: -999em;
    }
#navMenu li:hover .dropMenu {
    left: auto;
      }

.banner {
    background-image: url("../images/ben-kolde-1420x1811.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
    background-position: center;
    grid-row: 2/3;
    grid-column: 1/5;
}

header h1 {
    font-family: 'Courgette', cursive; 
    font-size: 48px;
    text-shadow: 2px 2px 6px gray;
    text-align: left;
    padding-left: 20px;    
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("/css/Courgette-Regular.ttf");
}
.card1 {
   grid-row: 3/4;
    grid-column: 1/2;
      }
.card2 {
   grid-row: 3/4;
    grid-column: 2/3;
     }
.card3 {
   grid-row: 3/4;
    grid-column: 3/4;
       }

.mediaIcon {
    text-decoration-line: none;
    padding: 20px;
}
.mediaIcon img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Contact styles 
____________________________*/

.footer {
    text-align: center;
    padding: 20px;
    background-color: #E4E4E4;
    font-size: .75em;
    grid-column: 1/5;
    grid-row: 3;
    
}